.form {
  display: inline;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  margin: 3.2rem;
}
